$slot-width: 48px;

.hotbar {
  position: absolute;
  width: 240px;
  height: $slot-width;
  z-index: 99999 !important;
  top: calc(100% - 56px);
  left: calc(50% - 120px);
  display: grid;
  grid-template-columns: $slot-width $slot-width $slot-width $slot-width $slot-width;
}

.hotbar-slot {
  position: relative;
  background: url('/public/assets/ui/inventory-slot.png');
  background-size: cover;
  opacity: 0.85;
  border: 1px solid transparent;
  display: grid;
  place-items: center;
} 

.hotbar-slot-item {
  position: relative;
  width: 24px;
  height: 24px;
}

.hotbar-slot-number {
  position: absolute;
  top: 8px;
  right: 10px;
  color: white;
  font-weight: 900;
  font-size: 10px;
}

.drop {
  z-index: 99998 !important;
}