$slot-width: 48px;

.hotbar {
  position: absolute;
  width: 240px;
  height: $slot-width;
  z-index: 99999 !important;
  top: calc(100% - 56px);
  left: calc(50% - 120px);
  display: grid;
  grid-template-columns: $slot-width $slot-width $slot-width $slot-width $slot-width;
}

.hotbar-slot {
  position: relative;
  background: url('/public/assets/ui/inventory-slot.png');
  background-size: cover;
  opacity: 0.85;
  border: 1px solid transparent;
} 

.drop {
  z-index: 99998 !important;
}