.default-tree {
  position: absolute;
  width: 64px;
  height: 128px;
  background: url('/public/assets/tree/pine.png');
  background-size: cover;
  transform-style: preserve-3D; 
  transform-origin: bottom center !important;
};

.pine-tree-shadow {
  @include defaultEntity();
  border: none;
  background: url('/public/assets/shadows/pine-tree-shadow.png');
  background-size: cover;
}

// Animations
@keyframes tree-shake-right {
  50% {
    transform: rotate(4deg);
  }
}

@keyframes tree-shake-left {
  50% {
    transform: rotate(-4deg);
  }
}

@keyframes tree-fall-left {
  100% {
    transform: rotate(-90deg);
    opacity: 0;
  }
}

@keyframes tree-fall-right {
  100% {
    transform: rotate(90deg);
    opacity: 0;
  } 
}

.spruce-log {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('/public/assets/tree/spruce-log.png');
  background-size: cover;
}

@keyframes log-fall {
  100% {
    transform: translateY(128px);
  }
}