.default-tree {
  position: absolute;
  width: 64px;
  height: 128px;
  background: url('/public/assets/tree/pine.png');
  background-size: cover;
  transform-style: preserve-3D; 
  transform-origin: bottom center !important;
};

// Animations
@keyframes tree-shake-right {
  50% {
    transform: rotate(4deg);
  }
}

@keyframes tree-shake-left {
  50% {
    transform: rotate(-4deg);
  }
}

@keyframes tree-fall-left {
  100% {
    transform: rotate(-90deg);
    opacity: 0;
  }
}

@keyframes tree-fall-right {
  100% {
    transform: rotate(90deg);
    opacity: 0;
  }
}