
// Water Nodes
@mixin waterNode {
  @include defaultEntity();
  border: none;
  z-index: 1 !important;
}
.water-node {
  @include waterNode();
  background-color: $water;
  z-index: 1 !important;
}
.water-lily {
  @include waterNode();
  background: url('/public/assets/environment/lily-pad.png');
  z-index: 1 !important;
}
.water-reed {
  @include waterNode();
  background: url('/public/assets/environment/reeds.png');
  z-index: 1 !important;
}


// Stones
.stone {
  @include defaultEntity();
  border: none;
  background: url('/public/assets/environment/stone.png');
  background-size: cover;
}

// Vegetation
.purple-mushroom {
  @include defaultEntity();
  border: none;
  background: url('/public/assets/environment/purple-mushroom.png');
  background-size: cover;
}