// High Level Imports

// Variables
$gameWidth: 1200px;
$gameHeight: 600px;
$blackBorder: 1px solid black;

// Imports

// Styles
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; //Roboto Later
}

#app {
  position: relative;
  width: $gameWidth;
  height: $gameHeight;
  top: calc(50vh - 300px);
  left: calc(50vw - 600px);
  border: $blackBorder;
}