.hotbar {
  position: absolute;
  width: 240px;
  height: 48px;
  z-index: 99999;
  top: calc(100% - 56px);
  left: calc(50% - 120px);
  display: grid;
  grid-template-columns: 48px 48px 48px 48px 48px;
}

.hotbar-slot {
  position: relative;
  background: url("/public/assets/ui/inventory-slot.png");
  background-size: cover;
  opacity: 0.85;
}

.player {
  position: absolute;
  width: 32px !important;
  height: 32px !important;
  background: lightcoral;
}

.default-tree {
  position: absolute;
  width: 64px;
  height: 128px;
  background: url("/public/assets/tree/pine.png");
  background-size: cover;
  transform-style: preserve-3D;
  transform-origin: bottom center !important;
}

.pine-tree-shadow {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border: none;
  background: url("/public/assets/shadows/pine-tree-shadow.png");
  background-size: cover;
}

@-webkit-keyframes tree-shake-right {
  50% {
    transform: rotate(4deg);
  }
}

@keyframes tree-shake-right {
  50% {
    transform: rotate(4deg);
  }
}
@-webkit-keyframes tree-shake-left {
  50% {
    transform: rotate(-4deg);
  }
}
@keyframes tree-shake-left {
  50% {
    transform: rotate(-4deg);
  }
}
@-webkit-keyframes tree-fall-left {
  100% {
    transform: rotate(-90deg);
    opacity: 0;
  }
}
@keyframes tree-fall-left {
  100% {
    transform: rotate(-90deg);
    opacity: 0;
  }
}
@-webkit-keyframes tree-fall-right {
  100% {
    transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes tree-fall-right {
  100% {
    transform: rotate(90deg);
    opacity: 0;
  }
}
.spruce-log-drop {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("/public/assets/tree/spruce-log-drop.png");
  background-size: cover;
}

@-webkit-keyframes log-fall {
  100% {
    transform: translateY(128px);
  }
}

@keyframes log-fall {
  100% {
    transform: translateY(128px);
  }
}
.grass {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border: none;
  background: url("/public/assets/environment/grass.png");
  background-size: cover;
}

.tall-grass {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border: none;
  background: url("/public/assets/environment/grass.png");
  background-size: cover;
  height: 64px;
  background: url("/public/assets/environment/tall-grass.png");
}

.deer {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  height: 64px;
  width: 64px;
  background: url("/public/assets/animals/Deer.png");
  background-size: cover;
  border: none;
  transform-origin: bottom center;
}

.water-node {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border: none;
  z-index: 1 !important;
  background-color: #09C3DB;
  z-index: 1 !important;
}

.water-lily {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border: none;
  z-index: 1 !important;
  background: url("/public/assets/environment/lily-pad.png");
  z-index: 1 !important;
}

.water-reed {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border: none;
  z-index: 1 !important;
  background: url("/public/assets/environment/reeds.png");
  z-index: 1 !important;
}

.stone {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border: none;
  background: url("/public/assets/environment/stone.png");
  background-size: cover;
}

.purple-mushroom {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border: none;
  background: url("/public/assets/environment/purple-mushroom.png");
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#app {
  position: relative;
  width: 1216px;
  height: 608px;
  top: calc(50vh - 304px);
  left: calc(50vw - 608px);
  border: 1px solid black;
  background: #348C31;
  overflow: hidden;
}

.layer {
  width: 100%;
  height: 100%;
}

#before-all-layer {
  z-index: 1 !important;
}

#shadow-layer {
  z-index: 2 !important;
}

#plane-1 {
  z-index: 3 !important;
}

#ui-plane {
  z-index: 4 !important;
}/*# sourceMappingURL=style.css.map */