// High Level Imports

// Variables
$gameWidth: 1216px;
$gameHeight: 608px;
$blackBorder: 1px solid black;
$forestGreen: #4B8673;
$water: #09C3DB;

@mixin defaultEntity {
  position: absolute;
  width: 32px;
  height: 32px;
}

// Imports
@import './ui/inventory';
@import "./entities/player";
@import './entities/tree';
@import './entities/animals';
@import './environment/environment';
@import './blocks/blocks';

// Styles
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  image-rendering: pixelated !important;
  box-sizing: border-box !important;
}

#app {
  position: relative;
  width: $gameWidth;
  height: $gameHeight;
  top: calc(50vh - 304px);
  left: calc(50vw - 608px);
  border: $blackBorder;
  background: $forestGreen;
  overflow: hidden; 
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

#before-all-layer {z-index: 1 !important;}
#shadow-layer {z-index: 2 !important;}
#plane-1 {z-index: 3 !important;}
#ui-plane {
  width: 240px;
  height: 48px;
  z-index: 99999 !important;
  top: calc(100% - 56px);
  left: calc(50% - 120px);
  width: max-content;
  z-index: 3 !important;
}