@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hotbar {
  position: absolute;
  width: 240px;
  height: 48px;
  display: grid;
  grid-template-columns: 48px 48px 48px 48px 48px;
}

.hotbar-slot {
  position: relative;
  opacity: 0.85;
  border: 1px solid transparent;
  display: grid;
  place-items: center;
  background: url("/public/assets/ui/inventory-slot.png");
  background-size: cover;
}

.craft-slot {
  position: relative;
  opacity: 0.85;
  border: 1px solid transparent;
  display: grid;
  place-items: center;
  background: url("/public/assets/ui/craft-slot.png");
  background-size: cover;
}

.craft-button {
  background-color: skyblue;
  grid-column: span 3;
  background: url("/public/assets/ui/craft-button.png");
  background-size: cover;
  width: 135px;
  height: 45px;
  position: absolute;
  bottom: 3px;
  right: 2px;
}

.hotbar-slot-item {
  position: relative;
  width: 24px;
  height: 24px;
  color: white;
  font-weight: 900;
  font-size: 10px;
}

.hotbar-slot-number {
  position: absolute;
  top: 8px;
  right: 10px;
  color: white;
  font-weight: 900;
  font-size: 10px;
}

.drop {
  z-index: 99998 !important;
}

.inventory-overlay {
  position: fixed;
  width: 1216px;
  height: 608px;
  top: calc(50vh - 304px);
  left: calc(50vw - 608px);
  background: rgba(0, 0, 0, 0.435);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-animation: 500ms fadeIn forwards;
          animation: 500ms fadeIn forwards;
}

.inventory-container {
  position: relative;
  width: 375px;
  height: 450px;
  display: grid;
  grid-template-columns: 275px 50px;
  grid-column-gap: 50px;
  top: 79px;
  left: 420px;
}

.craft-and-inventory-container {
  position: relative;
  display: grid;
  grid-template-rows: 50px 150px 50px 200px;
}

.crafting-search {
  position: relative;
  text-align: center;
  border-radius: 5px;
  border: none;
  height: 35px;
  width: 290px;
  left: 5px;
}

.crafting-search:focus, .crafting-search:active {
  outline: none;
}

.crafting-container {
  position: relative;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  justify-content: space-between;
}

.inventory-and-gear-slots {
  display: grid;
  grid-template-columns: 200px 50px;
  grid-column-gap: 50px;
}

.inventory-slots {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
}

.gear-slots {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
}

.category-and-inventory-addon {
  width: 50px;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-row-gap: 50px;
}

.inventory-addons, .craft-categories {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
}

.craft-categories {
  align-content: space-between;
}

.inventory-and-gear-header {
  position: relative;
  font-weight: 900;
  color: white;
  top: 28px;
  left: 8px;
}

.player {
  position: absolute;
  width: 32px !important;
  height: 32px !important;
  background: lightcoral;
}

.default-tree {
  position: absolute;
  width: 64px;
  height: 128px;
  background: url("/public/assets/tree/pine.png");
  background-size: cover;
  transform-style: preserve-3D;
  transform-origin: bottom center !important;
}

.pine-tree-shadow {
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  background: url("/public/assets/shadows/pine-tree-shadow.png");
  background-size: cover;
}

@-webkit-keyframes tree-shake-right {
  50% {
    transform: rotate(4deg);
  }
}

@keyframes tree-shake-right {
  50% {
    transform: rotate(4deg);
  }
}
@-webkit-keyframes tree-shake-left {
  50% {
    transform: rotate(-4deg);
  }
}
@keyframes tree-shake-left {
  50% {
    transform: rotate(-4deg);
  }
}
@-webkit-keyframes tree-fall-left {
  100% {
    transform: rotate(-90deg);
    opacity: 0;
  }
}
@keyframes tree-fall-left {
  100% {
    transform: rotate(-90deg);
    opacity: 0;
  }
}
@-webkit-keyframes tree-fall-right {
  100% {
    transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes tree-fall-right {
  100% {
    transform: rotate(90deg);
    opacity: 0;
  }
}
.spruce-log {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("/public/assets/tree/spruce-log.png");
  background-size: cover;
}

@-webkit-keyframes log-fall {
  100% {
    transform: translateY(128px);
  }
}

@keyframes log-fall {
  100% {
    transform: translateY(128px);
  }
}
.deer {
  position: absolute;
  width: 32px;
  height: 32px;
  height: 64px;
  width: 64px;
  background: url("/public/assets/animals/deer.png");
  background-size: cover;
  border: none;
  transform-origin: bottom center;
}

.grass {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("/public/assets/environment/grass.png");
  background-size: cover;
  z-index: 1 !important;
}

.grass-variant-1 {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("/public/assets/environment/grass.png");
  background-size: cover;
  z-index: 1 !important;
  background: url("/public/assets/environment/grass-1.png") cover;
}

.water-node {
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  z-index: 1 !important;
  background-color: #09C3DB;
  z-index: 1 !important;
}

.water-lily {
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  z-index: 1 !important;
  background: url("/public/assets/environment/lily-pad.png");
  z-index: 1 !important;
}

.water-reed {
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  z-index: 1 !important;
  background: url("/public/assets/environment/reeds.png");
  z-index: 1 !important;
}

.stone {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("/public/assets/environment/stone.png");
  background-size: cover;
}

.stone-chunk {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("/public/assets/environment/stone-chunk.png");
  background-size: cover;
}

.stick {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("/public/assets/environment/stick.png");
  background-size: cover;
}

@-webkit-keyframes waddleBlock {
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

@keyframes waddleBlock {
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
.spruce-log-block {
  position: absolute;
  width: 32px;
  height: 32px;
  transform-origin: bottom center;
  -webkit-animation: 200ms waddleBlock;
          animation: 200ms waddleBlock;
  height: 64px;
  background: url("/public/assets/blocks/spruce-wall.png");
  background-size: cover;
}

body {
  background: #121212;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -ms-interpolation-mode: nearest-neighbor !important;
      image-rendering: -moz-crisp-edges !important;
      image-rendering: pixelated !important;
  box-sizing: border-box !important;
}

#app {
  position: relative;
  width: 1216px;
  height: 608px;
  top: calc(50vh - 304px);
  left: calc(50vw - 608px);
  border: 1px solid black;
  background: #4B8673;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

#before-all-layer {
  z-index: 1 !important;
}

#shadow-layer {
  z-index: 2 !important;
}

#plane-1 {
  z-index: 3 !important;
}

#ui-plane {
  width: 240px;
  height: 48px;
  z-index: 99999 !important;
  top: calc(100% - 56px);
  left: calc(50% - 120px);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 3 !important;
}/*# sourceMappingURL=style.css.map */