@mixin block {
  position: absolute;
  width: 32px;
  height: 32px;
  transform-origin: bottom center;
  animation: 200ms waddleBlock;
}

@keyframes waddleBlock {
  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }
}

// Trees
.spruce-log-block {
  @include block();
  height: 64px;
  background: url('/public/assets/blocks/spruce-wall.png');
  background-size: cover;
}