@mixin waterNode {
  @include defaultEntity();
  border: none;
  z-index: 1 !important;
}

@mixin grass {
  @include defaultEntity();
  background: url('/public/assets/environment/grass.png');
  background-size: cover;
  z-index: 1 !important;
}


// Imports
@import './grass';

// Water Nodes
.water-node {
  @include waterNode();
  background-color: $water;
  z-index: 1 !important;
}
.water-lily {
  @include waterNode();
  background: url('/public/assets/environment/lily-pad.png');
  z-index: 1 !important;
}
.water-reed {
  @include waterNode();
  background: url('/public/assets/environment/reeds.png');
  z-index: 1 !important;
}


// Stones
.stone {
  @include defaultEntity();
  background: url('/public/assets/environment/stone.png');
  background-size: cover;
}

.stone-chunk {
  @include defaultEntity();
  background: url('/public/assets/environment/stone-chunk.png');
  background-size: cover;
}

.stick {
  @include defaultEntity();
  background: url('/public/assets/environment/stick.png');
  background-size: cover;
}